<configuration>

    <appender name="DASHBOARD" class="org.kanelucky.gui.DashboardAppender"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %red([%d{HH:mm:ss} %level]) %yellow([%thread]) %cyan([Minestom4fun]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DASHBOARD"/>
    </root>

</configuration>