name: Minestom4fun

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :minestom4fun-server:shadowJar

      - name: Upload jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: minestom4fun-server
          path: minestom4fun-server/build/libs/*-shaded.jar
